<div>
    <h2 id="page-heading">
        <span>Actividad Rubros</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-actividad-rubro" [routerLink]="['/actividad-rubro/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Actividad Rubro
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="actividadRubros?.length === 0">
        <span>No actividadRubros found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="actividadRubros && actividadRubros.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Nombre</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actividadRubro of actividadRubros ;trackBy: trackId">
                    <td><a [routerLink]="['/actividad-rubro', actividadRubro.id, 'view']">{{ actividadRubro.id }}</a></td>
                    <td>{{ actividadRubro.nombre }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/actividad-rubro', actividadRubro.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/actividad-rubro', actividadRubro.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(actividadRubro)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
