<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="usuarioDependencia">
            <h2><span>Usuario Dependencia</span> {{ usuarioDependencia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ usuarioDependencia.nombre }}</span>
                </dd>
                <dt><span>Rut</span></dt>
                <dd>
                    <span>{{ usuarioDependencia.rut }}</span>
                </dd>
                <dt><span>Fecha Creacion</span></dt>
                <dd>
                    <span>{{ usuarioDependencia.fechaCreacion }}</span>
                </dd>
                <dt><span>Fecha Modificacion</span></dt>
                <dd>
                    <span>{{ usuarioDependencia.fechaModificacion }}</span>
                </dd>
                <dt><span>Estado</span></dt>
                <dd>
                    <span>{{ usuarioDependencia.estado }}</span>
                </dd>
                <dt><span>Usuario</span></dt>
                <dd>
                    {{ usuarioDependencia.usuario?.login }}
                </dd>
                <dt><span>Dependencia</span></dt>
                <dd>
                    <div *ngIf="usuarioDependencia.dependencia">
                        <a [routerLink]="['/dependencia', usuarioDependencia.dependencia?.id, 'view']">{{ usuarioDependencia.dependencia?.nombre }}</a>
                    </div>
                </dd>
                <dt><span>Perfil Usuario Dependencia</span></dt>
                <dd>
                    <div *ngIf="usuarioDependencia.perfilUsuarioDependencia">
                        <a [routerLink]="['/perfil-usuario-dependencia', usuarioDependencia.perfilUsuarioDependencia?.id, 'view']">{{ usuarioDependencia.perfilUsuarioDependencia?.nombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/usuario-dependencia', usuarioDependencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
