<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-ges-alerta-heading">Create or edit a Ges Alerta</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_nota">Nota</label>
                    <input type="text" class="form-control" name="nota" id="field_nota"
                           formControlName="nota"/>
                    <div *ngIf="editForm.get('nota')!.invalid && (editForm.get('nota')!.dirty || editForm.get('nota')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nota')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('nota')?.errors?.maxlength">
                        This field cannot be longer than 500 characters.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fechaAlerta">Fecha Alerta</label>
                    <div class="d-flex">
                        <input id="field_fechaAlerta" type="datetime-local" class="form-control" name="fechaAlerta" formControlName="fechaAlerta" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                    <div *ngIf="editForm.get('fechaAlerta')!.invalid && (editForm.get('fechaAlerta')!.dirty || editForm.get('fechaAlerta')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('fechaAlerta')?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.get('fechaAlerta')?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fechaCreacion">Fecha Creacion</label>
                    <div class="d-flex">
                        <input id="field_fechaCreacion" type="datetime-local" class="form-control" name="fechaCreacion" formControlName="fechaCreacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_fechaModificacion">Fecha Modificacion</label>
                    <div class="d-flex">
                        <input id="field_fechaModificacion" type="datetime-local" class="form-control" name="fechaModificacion" formControlName="fechaModificacion" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_folio">Folio</label>
                    <select class="form-control" id="field_folio" name="folio" formControlName="folio">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="folioOption.id === editForm.get('folio')!.value?.id ? editForm.get('folio')!.value : folioOption" *ngFor="let folioOption of folios; trackBy: trackById">{{ folioOption.numeroFolio }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_usuarioLibro">Usuario Libro</label>
                    <select class="form-control" id="field_usuarioLibro" name="usuarioLibro" formControlName="usuarioLibro">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="usuarioLibroOption.id === editForm.get('usuarioLibro')!.value?.id ? editForm.get('usuarioLibro')!.value : usuarioLibroOption" *ngFor="let usuarioLibroOption of usuariolibros; trackBy: trackById">{{ usuarioLibroOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
