<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="comuna">
            <h2><span>Comuna</span> {{ comuna.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ comuna.nombre }}</span>
                </dd>
                <dt><span>Region</span></dt>
                <dd>
                    <div *ngIf="comuna.region">
                        <a [routerLink]="['/region', comuna.region?.id, 'view']">{{ comuna.region?.nombre }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comuna', comuna.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
