<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="folioReferencia">
            <h2><span>Folio Referencia</span> {{ folioReferencia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Asunto</span></dt>
                <dd>
                    <span>{{ folioReferencia.asunto }}</span>
                </dd>
                <dt><span>Id Folio Origen</span></dt>
                <dd>
                    <span>{{ folioReferencia.idFolioOrigen }}</span>
                </dd>
                <dt><span>Id Folio Referencia</span></dt>
                <dd>
                    <span>{{ folioReferencia.idFolioReferencia }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/folio-referencia', folioReferencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
