<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="perfilUsuarioDependencia">
            <h2><span>Perfil Usuario Dependencia</span> {{ perfilUsuarioDependencia.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Nombre</span></dt>
                <dd>
                    <span>{{ perfilUsuarioDependencia.nombre }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/perfil-usuario-dependencia', perfilUsuarioDependencia.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
